<a href="https://colab.research.google.com/github/KZoc/Alura-Challenge_1_DataScience/blob/main/Notebooks/Challenge_Data_Science_Alura_2022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<font color=green size=9>Análise de Dados - Churn Clientes Alura Voz</font>


##<font color=green> Dicionário de dados - Semana 1</font>

- **customerID:** número de identificação único de cada cliente
- **Churn:** se o cliente deixou ou não a empresa
- **gender:** gênero (masculino e feminino)
- **SeniorCitizen:** informação sobre um cliente ter ou não idade igual ou maior que 65 anos
- **Partner:** se o cliente possui ou não é parceiro ou parceiro
- **Dependents:** se o cliente possui ou não dependentes
- **tenure:** meses de contrato do cliente
- **PhoneService:** assinatura de serviço telefônico
- **MultipleLines:** assisnatura de mais de uma linha de telefone
- **InternetService:** assinatura de um provedor internet
- **OnlineSecurity:** assinatura adicional de segurança online
- **OnlineBackup:** assinatura adicional de backup online
- **DeviceProtection:** assinatura adicional de proteção no dispositivo
- **TechSupport:** assinatura adicional de suporte técnico, menos tempo de espera
- **StreamingTV:** assinatura de TV a cabo
- **StreamingMovies:** assinatura de streaming de filmes
- **Contract:** tipo de contrato
- **PaperlessBilling:** se o cliente prefere receber online uma fatura
- **PaymentMethod:** forma de pagamento
- **Charges.Monthly:** total de todos os serviços do cliente por mês
- **Charges.Total:** gasto total pelo cliente

# <font color=green>Importando bibliotecas e carregando DataFrame</font>
## (Importing libraries and loading DataFrame)

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import json

In [2]:
# Definindo a quantidade máxima de colunas que poderão ser mostradas
pd.set_option('display.max_columns', 30)

In [3]:
URL = 'https://raw.githubusercontent.com/KZoc/Alura-Challenge_1_DataScience/main/Dados/Telco-Customer-Churn.json'
df_0 = pd.read_json(URL)
df_0.head()

,customerID,Churn,customer,phone,internet,account
0,0002-ORFBO,No,"{'gender': 'Female', 'SeniorCitizen': 0, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'One year', 'PaperlessBilling': '..."
1,0003-MKNFE,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
2,0004-TLHLJ,Yes,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
3,0011-IGKFF,Yes,"{'gender': 'Male', 'SeniorCitizen': 1, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
4,0013-EXCHZ,Yes,"{'gender': 'Female', 'SeniorCitizen': 1, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."

# <font color=green>Tratamento dos dados e Organização do DataFrame</font>
## (Data handling and Organization of the DataFrame)

## <font color=green>Análise Básica Preliminar dos Dados</font>

In [17]:
with open('https://raw.githubusercontent.com/KZoc/Alura-Challenge_1_DataScience/main/Dados/Telco-Customer-Churn.json') as data_file:    #Aqui normalizei os dados json que estavam aninhados nas colunas, desta forma obtive a separação deles em novas colunas
  chaves = json.load(df_0)
  df_normalizado = pd.json_normalize(chaves)

df_normalizado

FileNotFoundError: ignored

In [18]:
df_0.count()    #Verificando número de linhas no dataframe

customerID    7267
Churn         7267
customer      7267
phone         7267
internet      7267
account       7267
dtype: int64

In [19]:
df_0.Churn.value_counts()     #Verificando quantidades de clientes desistentes e que permanecem.  Obs. No resultado podemos ver que existem 224 clientes não categorizados quanto a evasão.

No     5174
Yes    1869
        224
Name: Churn, dtype: int64

In [20]:
df_0    #Nota-se que existem dados aninhados dentro de algumas colunas, o que impossibilita a análise na forma em que está. Para resolver vou separar esses dados em novas colunas

,customerID,Churn,customer,phone,internet,account
0,0002-ORFBO,No,"{'gender': 'Female', 'SeniorCitizen': 0, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'One year', 'PaperlessBilling': '..."
1,0003-MKNFE,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
2,0004-TLHLJ,Yes,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
3,0011-IGKFF,Yes,"{'gender': 'Male', 'SeniorCitizen': 1, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
4,0013-EXCHZ,Yes,"{'gender': 'Female', 'SeniorCitizen': 1, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
...,...,...,...,...,...,...
7262,9987-LUTYD,No,"{'gender': 'Female', 'SeniorCitizen': 0, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'One year', 'PaperlessBilling': '..."
7263,9992-RRAMN,Yes,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
7264,9992-UJOEL,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
7265,9993-LHIEB,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Two year', 'PaperlessBilling': '..."
7266,9995-HOTOH,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'No', 'MultipleLines': 'No ph...","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Two year', 'PaperlessBilling': '..."

## <font color=green>Traduzindo as Colunas</font>

In [21]:
colunas = list(df_normalizado.columns)    #Obtive a lista com os nomes das colunas, para a seguir poder traduzí-las
colunas

NameError: ignored

In [ ]:
colunas = {'customerID':'ID_Usuário',
 'Churn':'Cancelamento',
 'customer.gender':'Gênero',
 'customer.SeniorCitizen':'Mais_de_65_anos',
 'customer.Partner':'Cônjuje',
 'customer.Dependents':'Dependentes',
 'customer.tenure':'Meses_de_Contrato',
 'phone.PhoneService':'Serviço_Telefônico',
 'phone.MultipleLines':'Multiplas_Linhas',
 'internet.InternetService':'Serviço_de_Internet',
 'internet.OnlineSecurity':'Segurança_Online',
 'internet.OnlineBackup':'Serviço_Backup_Online',
 'internet.DeviceProtection':'Proteção_de_Dispositivo',
 'internet.TechSupport':'Suporte_Técnico',
 'internet.StreamingTV':'Assina_TV',
 'internet.StreamingMovies':'Assina_Filmes',
 'account.Contract':'Tipo_de_Contrato',
 'account.PaperlessBilling':'Fatura_Online',
 'account.PaymentMethod':'Forma_de_Pagamento',
 'account.Charges.Monthly':'Custo_Mensal_de_Serviços',
 'account.Charges.Total':'Total_Acumulado'}

In [ ]:
df_traduzido = df_normalizado.rename(columns = colunas)   #Aqui faço a mudança dos nomes das colunas com base no dicionário criado acima

In [ ]:
df_traduzido.head(25)

## <font color=green>Definindo Tipo das Variáveis</font>

In [ ]:
colunas_traduz = list(df_traduzido.columns)    #Obtive a lista com os nomes das colunas e criei manualmente a lista abaixo definindo as variáveis
colunas_traduz

<font color=green>Definindo Tipo das Variáveis</font>
 - ID_Usuário = Qualitativa Nominal
 - Cancelamento = Qualitativa Nominal
 - Gênero = Qualitativa Nominal
 - Mais_de_65_anos = Qualitativa Ordinal
 - Cônjuje = Qualitativa Nominal
 - Dependentes = Qualitativa Nominal
 - Meses_de_Contrato = Quantitativa Discreta
 - Serviço_Telefônico = Qualitativa Nominal
 - Multiplas_Linhas = Qualitativa Nominal
 - Serviço_de_Internet = Qualitativa Nominal
 - Segurança_Online = Qualitativa Nominal
 - Serviço_Backup_Online = Qualitativa Nominal
 - Proteção_de_Dispositivo = Qualitativa Nominal
 - Suporte_Técnico = Qualitativa Nominal
 - Assina_TV = Qualitativa Nominal
 - Assina_Filmes = Qualitativa Nominal
 - Tipo_de_Contrato = Qualitativa Ordinal
 - Fatura_Online = Qualitativa Nominal
 - Forma_de_Pagamento = Qualitativa Nominal
 - Custo_Mensal_de_Serviços = Quantitativa Contínua
 - Total_Acumulado = Quantitativa Contínua

In [ ]:
df_traduzido.info()   #Verificar o por que 'Total_Acumulado' está como object, se na verdade deve ser float64

## <font color=green>Verificando e Corrigindo Inconsistências</font>

In [ ]:
# Farei uma varredura nas colunas para procurar inconsistências

print('\033[1;4;33m-----  Quantidade Total de Usuários = {}\033[\n\n'.format(len(df_traduzido)))

for columns in df_traduzido:
  analise_1 = df_traduzido[columns].describe()
  analise_2 = df_traduzido[columns].value_counts()
  contagem_1 = pd.value_counts(df_traduzido[columns].isnull()) # Verifica e conta quantos campos são NaN (NULOS)
  contagem_2 = pd.value_counts(df_traduzido[columns] == '')  # Verifica e conta quantos campos são VAZIOS
  print('\033[1;4;33mAnálise Coluna:  {} \033['.format(columns))
  print('\033[2;4;32m\n-----  Análisando com DESCRIBE:\033[\n{}'.format(analise_1))
  print('\033[2;4;32m\n-----  Análisando  com VALUE_COUNTS:\033[\n{}'.format(analise_2))
  print('\033[2;4;32m\n-----  Análisando Campos NULOS = \033[{}'.format(7267 - contagem_1.loc[False]))
  print('\033[2;4;32m\n-----  Análisando Campos VAZIOS = \033[{}'.format(7267 - contagem_2.loc[False]))
  print('\n'+'  -----  <>' * 15 + '\n')

### <font color=green>Observações da análise acima:</font>

###. <font color=yellow>Cancelamento = Possui 224 células vazias. Vou excluir e guardar em outro dataframe.
###. <font color=yellow>Mais_de_65_anos = Considerar onde é 0 = NO e onde é 1 = YES 
###. <font color=yellow>Multiplas_Linhas = Verificar se, caso NÃO tenha serviço de telefone o campo aqui não pode ser YES/True.
###. <font color=yellow>Acho importante verificar se não há incoerências entre as respostas das seguintes colunas:
- Segurança_Online
- Serviço_Backup_Online
- Proteção_de_Dispositivo
- Suporte_Técnico
- Assina_TV
- Assina_Filmes
- No caso das colunas acima, se elas tiverem o conteúdo 'No internet service', então é importante conferir se na coluna 'Serviço_de_Internet' ela está com 'No', caso contrário há uma informação conflitante.</font>

###. <font color=yellow>Tipo_de_Contrato = Alterar as células para o seguinte:
- Month_to_month -> 0
- One_year -> 1
- Two_year -> 2
- Assim poderei ordenar essa categoria depois, se for necessário.</font>

###. Total_Acumulado = Não têm todas as células preenchidas com números e, também, está como tipo 'object', mas o certo é ser 'float64' por conter apenas números</font>

###. Acho interessante criar mais uma coluna com a quantidade de serviços contratados</font>

### Continuação na Verificação de Inconsistências e Correção

In [ ]:
df_corrigido = df_traduzido

In [ ]:
df_corrigido['Total_Acumulado'] = df_corrigido['Total_Acumulado'].apply(lambda x: str(x).replace(',','.'))  # Substituindo possiveis virgulas por ponto

In [ ]:
df_corrigido['Total_Acumulado'] = df_corrigido['Total_Acumulado'].apply(lambda x: str(x).replace(' ','0')) # Substituindo espaços vazios por 0

In [ ]:
df_corrigido['Total_Acumulado'] = df_corrigido['Total_Acumulado'].astype('float64')

In [ ]:
df_corrigido['Total_Acumulado'].value_counts()

In [ ]:
df_corrigido['Total_Acumulado'].describe()    # Podemos ver que o o problema com os dados na coluna foram resolvidos

#### Substituição dos valores na coluna 'Mais_de_65_anos', conforme observações feitas mais acima

In [ ]:
idade = {0: 'No', 1: 'Yes'}

In [ ]:
df_corrigido['Mais_de_65_anos'].replace(idade, inplace = True)

In [ ]:
df_corrigido['Mais_de_65_anos'].value_counts() # Conferindo se deu certo - 0  =  6085 |  1  =  1182
# Deu certo

#### Fazendo checagem da coluna Multiplas_Linhas com a coluna Serviço_Telefônico.
- Aqui devemos verificar o seguinte: SE Multiplas_Linhas = Yes E Serviço_Telefônico = No, então temos um problema de incoerência de dados.

In [ ]:
teste = (df_corrigido['Serviço_Telefônico'] == 'No') & (df_corrigido['Multiplas_Linhas'] == 'Yes')

In [ ]:
teste.value_counts() # O resultado abaixo nos mostra que está tudo certo, ou seja, NÃO há incoerência entre as respostas das duas colunas.

#### Verificação da coerência entre os dados das várias colunas em relação a coluna 'Serviço_de_Internet':
- Agora vamos verificar através de um laço for, a coerência entre os dados das várias colunas em relação a coluna 'Serviço_de_Internet', conforme as observações feitas mais acima.

In [ ]:
col_verif = ['Segurança_Online', 'Serviço_Backup_Online', 'Proteção_de_Dispositivo', 'Suporte_Técnico', 'Assina_TV', 'Assina_Filmes']   # Crie uma lista com as colunas que deverão ser comparadas com a coluna 'Serviço_de_Internet'

In [ ]:
for x in col_verif:
  compara = (df_corrigido['Serviço_de_Internet'] == 'No') & (df_corrigido[x] == 'Yes')   # Faço a comparação entre as colunas 
  contagem = compara.value_counts()   # Faço a contagem apenas das respostas True, que significa, o número de incoerência entre as colunas
  print('\033[2;4;32mA comparação da coluna {} resultou em:\n {} \033[\n'.format(x, contagem))
  print('-'*80)

In [ ]:
# A análise acima mostra que está tudo certo.

#### Alterando as células da coluna 'Tipo_de_Contrato' da seguinte forma:
- Month_to_month -> 0
- One year -> 1
- Two year -> 2

In [ ]:
alteracao = {'Month-to-month': 0, 'One year': 1, 'Two year': 2}

In [ ]:
df_corrigido['Tipo_de_Contrato'].replace(alteracao, inplace = True)

In [ ]:
df_corrigido['Tipo_de_Contrato'].value_counts()   # Month-to-month    4005 | Two year          1743 | One year          1519
# A substituição deu certo.

# <font color=green>Adicionando Coluna 'Custo_Diario' na posição 18</font>

In [ ]:
df_corrigido.head()

In [ ]:
# Nova coluna a ser adicionada
colun_18 = df_corrigido['Custo_Mensal_de_Serviços'] / 30
  
# Inserindo a coluna na posição 18
df_corrigido.insert(loc = 17,
          column = 'Custo_Diário',
          value = colun_18.round(2))

In [ ]:
df_corrigido.head()

# <font color=green>Adicionando Coluna 'Serviços_Contratados' na posição 7</font>

In [ ]:
# Criando uma lista com as qtdes de serviços contratados por cada cliente

In [ ]:
nome_colunas = list(df_corrigido.columns) #  Pegando o nome das colunas para criar uma lista com as colunas especificas de serviços que devem ser analisadas para a contagem
nome_colunas

In [ ]:
# Lista contendo APENAS as colunas que são serviços.

nome_colunas = ['Serviço_Telefônico',
 'Multiplas_Linhas',
 'Serviço_de_Internet',
 'Segurança_Online',
 'Serviço_Backup_Online',
 'Proteção_de_Dispositivo',
 'Suporte_Técnico',
 'Assina_TV',
 'Assina_Filmes']

In [ ]:
lista_soma = [0] * df_corrigido.shape[0] # Criei uma lista de 0 com a qtde de elementos do nosso DT
for x in nome_colunas:    # Para cada string na lista 'nome_colunas' fará o que está abaixo:
  lista = []  # Cria uma vazia
  for y in df_corrigido[x]: # Para cada linha da coluna x (item da lista 'nome_colunas'), faz a comparação abaixo e adiciona 1 ou 0 em 'lista'.
    if (y != 'No') & (y != 'No internet service') & (y != 'No phone service'):
      lista.append(1)
    else:
      lista.append(0)
  lista_soma = list(map(lambda v1, v2: v1 + v2, lista, lista_soma))   # A função map faz a soma dos elementos de 'lista_soma' e 'lista' através de uma função lambda como parâmetro

In [ ]:
lista_soma = pd.Series(lista_soma)
lista_soma.value_counts()

In [ ]:
df_corrigido.insert(loc = 7, column = 'Serviços_Contratados', value = lista_soma)

In [ ]:
df_corrigido.head()

# <font color=green>Separando os Clientes (Permanecem e Cancelaram)</font>

In [ ]:
df_Cancelamento_vazio = df_corrigido[~((df_corrigido.Cancelamento == 'Yes') | (df_corrigido.Cancelamento == 'No'))] # Criando um DF só com os usuários com Churn vazio

In [ ]:
df_Cancelamento_vazio

In [ ]:
df_corrigido = df_corrigido[((df_corrigido.Cancelamento == 'Yes') | (df_corrigido.Cancelamento == 'No'))]     #Removendo os usuário com Churn vazio

In [ ]:
df_corrigido

In [ ]:
# Salvando o DataFrame com os clientes que estão com o campo 'Churn' vazio.
df_Cancelamento_vazio.to_csv('Clientes_com_Churn_Vazio.csv', index = False)

In [ ]:
df_grupo_status = df_corrigido.groupby(['Cancelamento'])

In [ ]:
df_Cancelaram = df_corrigido[df_corrigido['Cancelamento'] == 'Yes'].reset_index()   # Criei um dataframe contendo apenas clientes que Cancelaram (Churn = Yes)
del df_Cancelaram['index']    # Por usar o comando reset_index acima cria-se uma coluna com os números antigos do indice, porém não serão necessários, por isso, aqui deleto ela
df_Cancelaram.count()

In [ ]:
df_Permanecem = df_corrigido[df_corrigido['Cancelamento'] == 'No'].reset_index()     #Criei um dataframe contendo apenas clientes que Permaneceram (Churn = No)
del df_Permanecem['index']    # Por usar o comando reset_index acima cria-se uma coluna com os números antigos do indice, porém não serão necessários, por isso, aqui deleto ela
df_Permanecem.count()

# <font color=green>Análise Exploratória do Grupo dos que CANCELARAM</font>

In [ ]:
df_grupo_status.get_group('Yes')

In [ ]:
# Tabela do cruzamento dos que cancelaram dividida por sexo e idade
tabela_frequencia_1 = pd.crosstab(df_grupo_status.get_group('Yes')['Gênero'], df_grupo_status.get_group('Yes')['Mais_de_65_anos'])

In [ ]:
tabela_frequencia_1

In [ ]:
tabela_porcentagem_1 = pd.crosstab(df_grupo_status.get_group('Yes')['Gênero'], df_grupo_status.get_group('Yes')['Mais_de_65_anos'], normalize= True).round(3)

In [ ]:
tabela_porcentagem_1

<font color=green>Observações: Com base nas duas tabelas vemos que aproximadamente 74% estão abaixo dos 65 anos e a distribuição entre homens e mulheres é praticamente a mesma.</font>

###<font color=green>Analisando Graficamente</font>

In [ ]:
ax = sns.boxplot(x = 'Serviços_Contratados', y = 'Gênero', hue = 'Mais_de_65_anos', data = df_grupo_status.get_group('Yes'))
ax.figure.set_size_inches(18,10)
ax.set_title('Distribuição de Frequência - Qtde de Serviços Contratados', fontsize = 18)
ax

<font color=yellow>Observação: As pessoa idosas tendem a contratar mais serviços. De modo geral podemos assumir que no gráfico acima a distribuição entre homens e mulheres é igual.<font>

In [ ]:
bx = sns.boxplot(x = 'Custo_Mensal_de_Serviços', y = 'Gênero', hue = 'Mais_de_65_anos', data = df_grupo_status.get_group('Yes'))
bx.figure.set_size_inches(12,10)
bx.set_title('Análise de Distribuição em Relação ao Custo Mensal', fontsize = 18)
bx

<font color=yellow>Observação: Seguindo a observação anterior, faz sentido que a mediana aqui, dos idosos, seja um pouco maior do que das outras idades. Vejo também que há uma pequena diferença nos gastos mensais entre homens e mulheres<font>

In [ ]:
df_grupo_status.get_group('Yes')['Custo_Mensal_de_Serviços'].describe()

In [ ]:
cx = sns.distplot(df_grupo_status.get_group('Yes')['Custo_Mensal_de_Serviços'])
cx.figure.set_size_inches(12, 6)
cx.set_title('Distribuição de Frequência em relação ao Custo Mensal', fontsize = 18)
cx

# Observando a linha de densidade do gráfico abaixo observamos uma tendência de uma Assimetria à Esquerda

In [ ]:
dx = sns.boxplot(x = 'Custo_Mensal_de_Serviços', y = 'Gênero', hue = 'Cancelamento', data = df_corrigido)
dx.figure.set_size_inches(18, 12)
dx.set_title('Análise de Comparação entre os que Permanecem x Cancelaram em Relação ao Custo Mensal', fontsize = 18)
dx

<font color=yellow>Observação: Fica claro que as pessoas que cancelaram tinham um custo médio mensal maior do que as que permaneceram.<font>

In [ ]:
ex = sns.boxplot(x = 'Serviços_Contratados', y = 'Gênero', hue = 'Cancelamento', data = df_corrigido)
ex.figure.set_size_inches(18, 12)
ex.set_title('Análise de Comparação entre os que Permanecem x Cancelaram em Relação à Qtde de Serviços Contratados', fontsize = 18)
ex

<font color=yellow>Observação: A mediana é igual para ambos grupos e o grupo dos que cancelaram tem uma concentração maior no range de 3 e 5 serviços contratados.<font>

In [ ]:
fx = sns.boxplot(x = 'Meses_de_Contrato', y = 'Gênero', hue = 'Cancelamento', data = df_corrigido)
fx.figure.set_size_inches(20, 12)
fx.set_title('Análise de Comparação entre os que Permanecem x Cancelaram em Relação ao Tempo de Contrato', fontsize = 18)
fx

<font color=yellow>Observação: Fica claro que as pessoas que cancelaram tem um tempo médio de contrato bem menor do que as que permaneceram.<font>

In [ ]:
tabela_tempo_contrato = pd.crosstab(df_corrigido['Cancelamento'], df_corrigido['Gênero'], values = df_corrigido['Meses_de_Contrato'], aggfunc={'min', 'mean', 'median', 'max', 'std'})
tabela_tempo_contrato

<font color=yellow>Observação: Na tabela podemos analisar algumas medidas separatrizes sobre o tempo de contrato, podendo comparar os que permanecem com os que cancelaram 
- A média do tempo de contrato das pessoas que cancelaram é aproximadamente de 20 meses a menos.<font>

##<font color=green>Analise e Comparação de quais são os serviços mais contratados entre cada grupo.<font>

In [ ]:
nome_colunas

In [ ]:
# A função mescla faz a soma dos elementos de 'D1' e 'D2'.
def mescla (D1, D2):
    unido = {**D1, **D2}
    return unido

lista_status = ['Yes', 'No']

dicio_soma_1 = {}
dicio_soma_2 = {}

for status in lista_status:
  for x in nome_colunas:    # Para cada string na lista 'nome_colunas' fará o que está abaixo:
    n = 0
    dicio_0 = {}
    for y in df_grupo_status.get_group(status)[x]: # Para cada linha da coluna x (item da lista 'nome_colunas'), faz a comparação abaixo e adiciona 1 ou 0 em 'lista'.
      if (y != 'No') & (y != 'No internet service') & (y != 'No phone service'):
        n +=1

    dicio_0 = {x : n}
      
    if status == 'Yes':
      dicio_soma_1 =  (mescla(dicio_soma_1, dicio_0)) 
    else:
      dicio_soma_2 =  (mescla(dicio_soma_2, dicio_0))

In [ ]:
# Transformando os dicionários criados acima em dataframes
dicio_soma_1 = pd.DataFrame(dicio_soma_1, index = [0]).rename(index = {0:'Cancelou'})
dicio_soma_2 = pd.DataFrame(dicio_soma_2, index = [0]).rename(index = {0:'Permanece'})

# Concatenando os dicionários em um novo dataframe
tabela_qtde_serviços = pd.concat([dicio_soma_1, dicio_soma_2])

In [ ]:
tabela_qtde_serviços

In [ ]:
# Transpondo o dataframe, de modo que as colunas virem linhas e as linhas colunas
tabela_qtde_serviços = tabela_qtde_serviços.T.reset_index()

In [ ]:
# Mudando o nome da coluna 'index' para 'Serviços'
tabela_qtde_serviços.rename(columns = {'index':'Serviços'}, inplace = True)

In [ ]:
tabela_qtde_serviços

In [ ]:
# Criando nova coluna com a porcentagem de cancelamentos para cada serviço
tabela_qtde_serviços['% Cancelamento'] = (tabela_qtde_serviços.Cancelou / (tabela_qtde_serviços.Cancelou + tabela_qtde_serviços.Permanece))*100

In [ ]:
tabela_qtde_serviços.round(2)

In [ ]:
# Para cada coluna de serviço disponível vamos gerar um gráfico comparando a quantidade de pessoas que aderiram a esse serviço e, também, comparar entre os grupos dos Cancelaram e Permaneceram
for x in nome_colunas:
  ax = sns.displot(x = df_corrigido[x], hue = df_corrigido['Cancelamento'])
  ax.figure.set_size_inches(10,8)
  ax.set_ylabels('Qtde de Clientes', fontsize = 10)